body {
  text-align: center;
  background: linear-gradient(#3f87a6, #f69d3c);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Spinnaker", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.header {
  background-image: url(../images/bridge-wide.jpg);
  border-radius: 8%;
  height: 343px;
  width: 720px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-top: 100px;
  background-color: #1d3557;
  opacity: 0.8;
  width: fit-content;
  padding: 8px 16px;
  border-radius: 10px;
}

.description {
  background-color: #457b9d;
  opacity: 0.8;
  width: fit-content;
  gap: 2%;
  padding: 4px 15px;
  border-radius: 14px;
}

.activies {
  display: flex;

  justify-content: space-evenly;
  width: 720px;
  height: 300px;
}

.activity {
  width: 160px;
  background-color: #457b9d;
  color: white;
  border-radius: 9px;
  opacity: 0.8;
}

#act-img {
  width: 150px;
  border-radius: 60%;
  height: 150px;
}

.activity:hover {
  transform: scale(1.02);
}

#guide-img {
  width: 250px;

  height: 300px;
  border-radius: 10px;
  border: 3px solid rgb(181, 142, 43);
}

.guide {
  margin-top: 30px;
  padding: 0 20px;
  background-color: #457b9d;
  color: white;
  border-radius: 9px;
  opacity: 0.8;
}

.separate {
  color: white;
  border-top: 1px solid gainsboro;
  border-bottom: 1px solid gainsboro;
  padding-top: 10px;
  padding-bottom: 10px;
}
